[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/cpputils"]
	path = external/cpputils
	url = https://github.com/StopwatchString/cpputils.git
